<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis semper sapien. Phasellus
                    dictum sollicitudin purus ac consequat. Praesent tempus nunc id tellus viverra maximus dignissim ac
                    diam. Donec ac viverra arcu. Sed enim justo, consectetur id congue ut, feugiat sed tortor. Vivamus
                    odio nunc, venenatis vitae justo vel, tristique posuere urna. Nam eget condimentum orci. Nullam
                    tincidunt eu nunc vitae pretium. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas. Donec imperdiet malesuada elementum. Sed fermentum nisi tellus,
                    in volutpat justo cursus nec.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis semper sapien. Phasellus
                    dictum sollicitudin purus ac consequat. Praesent tempus nunc id tellus viverra maximus dignissim ac
                    diam. Donec ac viverra arcu. Sed enim justo, consectetur id congue ut, feugiat sed tortor. Vivamus
                    odio nunc, venenatis vitae justo vel, tristique posuere urna. Nam eget condimentum orci. Nullam
                    tincidunt eu nunc vitae pretium. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas. Donec imperdiet malesuada elementum. Sed fermentum nisi tellus,
                    in volutpat justo cursus nec.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis semper sapien. Phasellus
                    dictum sollicitudin purus ac consequat. Praesent tempus nunc id tellus viverra maximus dignissim ac
                    diam. Donec ac viverra arcu. Sed enim justo, consectetur id congue ut, feugiat sed tortor. Vivamus
                    odio nunc, venenatis vitae justo vel, tristique posuere urna. Nam eget condimentum orci. Nullam
                    tincidunt eu nunc vitae pretium. Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas. Donec imperdiet malesuada elementum. Sed fermentum nisi tellus,
                    in volutpat justo cursus nec.</p>

            </div>

            <%- include('./partials/footer.ejs')  %>

    </body>

</html>